@page "/"
@using Models.Characters
@using Models.Settings
@using Persistence.Json
@using System.Text
@using System.Linq
@using Persistence.Json.DataModels
@using System.Collections.Immutable
@using UI.Services
@using Microsoft.FluentUI.AspNetCore.Components
@using static Models.Settings.Constants
@using static UI.Constants
@inject IStorageService Storage
@inject IJSRuntime JS
@inject ILoader Loader
@inject NavigationManager Navigator

<div class="vertical-stack aic mb20">
	<h2>@HeaderText</h2>
	@foreach (var character in Characters)
	{
		<FluentCard Class="common-card-style">
			<div class="card-header">
				<div class="card-header-left">
					<FluentAnchor Appearance="Appearance.Hypertext" Href="@character.Link" Class="character-link">@character.Alias the @character.Playbook</FluentAnchor>
					</div>
					<div class="card-header-right">
						<FluentButton Appearance="Appearance.Accent" OnClick="_ => Download(character)" Class="@DownloadModeClass" aria-label="@DownloadCharacterLabel(character.Name)">Export</FluentButton>
						<FluentButton Appearance="Appearance.Accent" OnClick="_ => Delete(character.Id)" Class="@DeleteModeClass" aria-label="@DeleteCharacterLabel(character.Name)" BackgroundColor="var(--scare-color)">Delete</FluentButton>
					</div>
				</div>
				<div class="vertical-stack card-body">
					<p>@Blurb(character)</p>
			</div>
		</FluentCard>
	}
	@if (!Characters.Any())
	{
		<FluentCard Class="common-card-style">
			<div class="card-header">
				<h4>Welcome!</h4>
			</div>
			<div class="vertical-stack card-body">
				<div>
					<p>You don't have any scoundrels yet! If this is your first time here, <FluentAnchor Href="@Paths.Help" Appearance="Appearance.Hypertext">please visit the help page</FluentAnchor> for tips and info.</p>
					<p class="screen-reader-only">It looks like you're using a screen reader. Please visit the <FluentAnchor Href="@Paths.Accessibility" Appearance="Appearance.Hypertext">accessibility page</FluentAnchor> for a description of the web page and settings that may make navigation easier.</p>
				</div>
			</div>
		</FluentCard>
	}
	<FluentCard Class="common-card-style">
		<div class="card-header">
			<div class="card-header-left">
				<h4>Roster</h4>
			</div>
			<div class="card-header-right">
				@if (Characters.Any())
				{
					<FluentButton Title="Enable Download Mode" IconStart="@(new Icons.Filled.Size20.ArrowDownload())" Appearance="Appearance.Accent" OnClick="_ => IsDownloadMode = true" Class="@NotDownloadModeClass" />
					<FluentButton Title="Disable Download Mode" IconStart="@(new Icons.Filled.Size20.ArrowDownloadOff())" Appearance="Appearance.Accent" OnClick="_ => IsDownloadMode = false" Class="@DownloadModeClass" />
					<FluentButton Title="Enable Delete Mode" IconStart="@(new Icons.Filled.Size20.Delete())" Appearance="Appearance.Accent" OnClick="_ => IsDeleteMode = true" Class="@NotDeleteModeClass" BackgroundColor="var(--scare-color)" />
					<FluentButton Title="Disable Delete Mode" IconStart="@(new Icons.Filled.Size20.DeleteOff())" Appearance="Appearance.Accent" OnClick="_ => IsDeleteMode = false" Class="@DeleteModeClass" />
				}
			</div>
		</div>
		<div class="vertical-stack card-body w50" style="min-width: 200px;">
			<div>
				<FluentSelect TOption="GameFile" Items="AvailableGameFiles" @bind-SelectedOption="@SelectedGameFile" OptionText="gameFile => gameFile.Name" Label="Select a Game" Class="w100"></FluentSelect>
			</div>
			<FluentAnchor Href="@New()" Appearance="Appearance.Accent" Class="min-button">
				Create a Character
				<FluentIcon Value="@(new Icons.Regular.Size20.DocumentAdd())" Slot="start" Color="@Microsoft.FluentUI.AspNetCore.Components.Color.Fill" />
			</FluentAnchor>
			<FluentInputFile AnchorId="ImportCharacters" DragDropZoneVisible="false" Mode="InputFileMode.Stream" Multiple="true" Accept=".json" OnFileUploaded="@UploadFiles" OnCompleted="@UploadComplete" />
			<FluentButton Id="ImportCharacters" Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.ArrowUpload())" Class="min-button">Import Characters</FluentButton>
		</div>
	</FluentCard>
</div>
