@page "/theme"
@using Models.Common

<div class="vertical-stack aic">
	<h2>Select a theme</h2>
	@foreach (var buttonData in ButtonDatas)
	{
		<FluentDesignSystemProvider AccentBaseColor="@buttonData.ThemeSetting.AccentBaseColor" NeutralBaseColor="@buttonData.ThemeSetting.NeutralBaseColor" BaseLayerLuminance="@buttonData.ThemeSetting.BaseLayerLuminence" Class="theme-card">
			<FluentCard Class="common-card-style">
				<div class="card-header">
					<div class="card-header-left">
						<h4>@buttonData.Text</h4>
					</div>
					<div class="card-header-right">
						<FluentButton Appearance="Appearance.Accent" BackgroundColor="var(--scare-color)" Style="@($"--scare-color: {buttonData.ThemeSetting.ScareColor}")" Class="@buttonData.Class" Title="Button does nothing" IconStart="new Icons.Filled.Size20.Delete()">Warning Color</FluentButton>
					</div>
				</div>
				<div class="vertical-stack card-body">
					<FluentButton @ref="buttonData.FluentButton" Appearance="Appearance.Accent" OnClick="_ => SetGlobalTheme(buttonData.ThemeSetting)" Class="@buttonData.Class">Apply @buttonData.Text</FluentButton>
				</div>
			</FluentCard>
		</FluentDesignSystemProvider>
	}
</div>
