<FluentCard Class="common-card-style" AreaRestricted="false">
	<div class="card-header">
		<div class="card-header-left">
			<h4 class="margin-vertical-center">@Header</h4>
		</div>
		<div class="card-header-right">
			<FluentButton Title="Enable Fix Mode" IconStart="new Icons.Filled.Size20.EditOff()" OnClick="EnableFixMode" Style="@EnableFixModeStyle" Appearance="Appearance.Accent" />
			<FluentButton Title="Disable Fix Mode" IconStart="new Icons.Filled.Size20.Edit()" OnClick="DisableFixMode" Style="@DisableFixModeStyle" Appearance="Appearance.Accent" />
			<FluentButton Title="Enable Hide Mode" IconStart="new Icons.Filled.Size20.Eye()" OnClick="_ => IsHideMode = true" Style="@EnableHideModeStyle" Appearance="Appearance.Accent" />
			<FluentButton Title="Disable Hide Mode" IconStart="new Icons.Filled.Size20.EyeOff()" OnClick="_ => IsHideMode = false" Style="@DisableHideModeStyle" Appearance="Appearance.Accent" />
		</div>
	</div>
	<div class="vertical-stack card-body" style="@HideModeStyle">
		@ChildContent
	</div>
</FluentCard>
