@using Models.Characters
@using Models.Game
@using UI.Services
@inject SheetJank SheetJank

<div class="vertical-stack">
	<h5>Healing Project</h5>
	@if (!IsFixMode)
	{
		<div class="horizontal-stack jsb">
			<FluentSelect TOption="RecoverySelectable" Items="RecoverySelectables" SelectedOptionChanged="i => RecoveryAmount = i.Value" AriaLabel="Recovery Progress" Id="select-recovery-progress">
				<OptionTemplate>
					<FluentIcon Value="new Icons.Filled.Size24.Heart()" Slot="start" />
					@context.Text
				</OptionTemplate>
			</FluentSelect>
			<FluentButton IconStart="new Icons.Filled.Size24.Heart()" Disabled="Harm.CanHeal" OnClick="(() => HealingClock.Progress(RecoveryAmount))" Appearance="Appearance.Accent" Title="Add recovery progress" Class="min-button">Recover</FluentButton>
		</div>
	}
	<div class="horizontal-stack aic jsb">
		<div class="horizontal-stack">
		@if (IsFixMode)
		{
			<BladeRating @bind-Value="HealingClock.Time" MaxValue="MaxRecovery" CheckboxAriaLabelSuffix="Recovery Progress" />
		}
		else
		{
			<FluentProgressRing Value="HealingClock.Time" Max="MaxRecovery" aria-label="@CurrentRecoveryProgressLabel" />
			@* <MudRating SelectedValue="HealingClock.Time" ReadOnly="true" MaxValue="MaxRecovery" FullIcon="@Icons.Material.Filled.Favorite" EmptyIcon="@Icons.Material.Filled.FavoriteBorder" Color="Color.Secondary" aria-label="@CurrentRecoveryProgressLabel" /> *@
		}
		@if (HealingClock.Rollover > 0)
		{
			@* <MudRating SelectedValue="HealingClock.Rollover" ReadOnly="true" MaxValue="HealingClock.Rollover" FullIcon="@Icons.Material.Filled.Favorite" EmptyIcon="@Icons.Material.Filled.FavoriteBorder" aria-label="@ExtraRecoveryProgressLabel" /> *@
			<FluentProgressRing Value="HealingClock.Rollover" Max="MaxRecovery" aria-label="@ExtraRecoveryProgressLabel" />
		}
		</div>
		<FluentButton Class="min-button" Disabled="!Harm.CanHeal" OnClick="Heal" Appearance="Appearance.Accent" IconStart="new Icons.Filled.Size24.Heart()">Heal</FluentButton>
	</div>
</div>
