@using Models.Characters
@using System.Diagnostics.CodeAnalysis
@using UI.Services
@inject SheetJank SheetJank;
@implements IDisposable

<div class="vertical-stack">
	<BladeRating @bind-Value="Attribute.Experience.Points" MaxValue="Attribute.Experience.MaxPoints" CheckboxAriaLabelSuffix="@RatingLabel" />
	<h5>@Attribute.Rating @Name</h5>
	@foreach (var actionByName in Attribute.ActionsByName)
	{
		<SheetTalentAction Attribute="Attribute" AttributeName="@Name" ActionName="@actionByName.Key" Action="actionByName.Value" />
	}
</div>
