@using Microsoft.FluentUI.AspNetCore.Components
@using Models.Characters
@using Models.Settings
@using Persistence.Json
@using UI.Services
@using static UI.Constants
@using Orientation = Microsoft.FluentUI.AspNetCore.Components.Orientation
@inject NavigationManager Navigator

<FluentCard Class="common-card-style">
	<div class="card-header">
		<div class="card-header-left">
			<h4>@PlaybookName</h4>
		</div>
	</div>
	<div class="vertical-stack card-body">
		<div>
			<p>@Hook[..(Hook.IndexOf(".") + 1)]</p>
			<p>@Hook[(Hook.IndexOf(".") + 1)..]</p>
		</div>
		<FluentAnchor Appearance="Appearance.Accent" Href="@Path" Class="button-link">Create @PlaybookName</FluentAnchor>
	</div>
</FluentCard>
