@using Models.Characters
@using Models.Settings;

<FluentCard AreaRestricted="false" Class="common-card-style">
	<div class="card-header">
		<h4>@HeaderText()</h4>
	</div>
	<div class="vertical-stack">
		<FluentSelect Label="Vice" TOption="ViceSetting" Items="ViceSettings" @bind-Value="Vice.Name" OptionValue="i => i.Name" OptionText="i => i.Name" OptionSelected="i => i == ViceSettings.First()" Id="select-vice" />
		<p>@Elaboration()</p>
		<FluentTextField @bind-Value="Vice.Description" Label="@HelperText()" Placeholder="@ExamplePlaceholder()" AriaLabel="Vice description" Id="vice-description" />
		@if (HasExamples)
		{
			<FluentAccordion>
				<FluentAccordionItem HeadingLevel="5" Heading="In world example purveyors">
					@foreach (var example in Examples())
					{
						<p>@example</p>
					}
				</FluentAccordionItem>
			</FluentAccordion>
		}
	</div>
</FluentCard>
